.container1 {
    display: inline;
}

.box1 {
    background-color: green;
    width: 96.5%;
    height: 100px;
    border: 1px solid black;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 3em;
}

.container2 {
    display: inline-flex;
}

.box2 {
    background-color: yellow;
    width: 250px;
    height: 200px;
    margin-top: 2em;
    margin-left: 1em;
    margin-bottom: 2em;
    border: 1px solid black;
}

.box3 {
    background-color: orangered;
    width: 1000px;
    height: 200px;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 3em;
    margin-bottom: 2em;
    border: 1px solid black;
}

.container3 {
    display: inline-flex;
}

.box4 {
    background-color: yellow;
    width: 250px;
    height: 200px;
    margin-top: 2em;
    margin-left: 1em;
    border: 1px solid black;
}

.box5 {
    background-color: orangered;
    width: 1000px;
    height: 200px;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 3em;
    margin-bottom: 2em;
    border: 1px solid black;
}